/* ------------ CONTACT US CONTAINER ----------- */
.cards-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.card {
    border: 2px solid #F4E7BF;
    border-radius: 20px;
    padding: 20px;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
}

.socials_contact-img {
    width: 96px;
    height: auto;
    margin-left: -25px;
}

.concert-booking-card {
    align-self: flex-end;
}

/* ------------ OPENING HOURS CONTAINER ----------- */
.brain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 80px 20px 50px;
}

.day-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 90%;
}

.day-card {
    border: 2px solid #1F1F1F;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 6px 30px;
    box-shadow: 5px 5px#fd910a;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}

/* ------------ LOCATION CONTAINER ----------- */
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        margin-top: 5vh;
        padding-bottom: 50px;
}

.location-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 30px;
}

/* ---- MAP ---- */
.mapouter {
    position: relative;
    text-align: right;
    height: auto;
    width: 100%;
    overflow: hidden;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
}


/*------------------MEDIA QUERIES---------------------*/

/*----- DESKTOP -----*/
@media screen and (min-width:900px) {

    body {
        background-image: url("/Pictures/contactus_pc.png");
        background-repeat: no-repeat;
        background-size: 100%;
        flex-direction: column;
        justify-content: center;
    }

    /* ------------ CONTACT US CONTAINER ----------- */
    .contact-us-container {
        margin-top: 80px;
    }

    .cards-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 7vw;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 165px;
    }

    .card {
        border: 2px solid #F4E7BF;
        border-radius: 20px;
        padding: 25px 25px;
        height: 10vw;
        min-width: 23vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 5px;
    }

    .socials_contact-img {
        width: 8vw;
        height: auto;
        margin-left: -25px;
    }

    .concert-booking-card {
        align-self: flex-end;
    }

    /* ------------ OPENING HOURS CONTAINER ----------- */
    .brain-container {
        margin-top: 400px;
    }

    .day-cards {
        flex-wrap: wrap;
        flex: 60px;
        gap: 40px;
        height: 60vh;
        width: 60%;
        margin-left: -10vw;
    }

    /* ------------ LOCATION CONTAINER ----------- */
    .location {
        margin-top: 10vh;
        padding-bottom: 50px;
    }

    .location-header {
        margin-bottom: 30px;
    }

    /* ---- MAP ---- */
    .mapouter {
        position: relative;
        text-align: right;
        height: auto;
        width: 70%;
        overflow: hidden;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
    }
}

@media screen and (max-width:1150px) {
    .contact-us-container {
        margin: 0px 20px;
    }
}