body {
    background-image: url("/Pictures/events_pc.png");
    background-repeat: repeat-y;
    background-size: cover;
}

.facebookmention {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0px;
    gap: 10px;
    margin-left: 100px;
    margin-top: -100px;
}

.check {
    font-size: 12px;
    font-family: 'Space Grotesk', sans-serif;
    line-height: 15px;
}

/*Code by Md Farzan: https://codepen.io/mdfarzan/pen/yLeEJZV*/

#slider {
    width: 600px;
    padding: 12px;
    border: 5px solid #555;
    border-spacing: 100px;
    border-radius: 20px;
    background-color: rgba(255, 228, 228, 0.5);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: -5;
}

.slide {
    width: 100px;
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.eventcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls {
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;
}

.arrow {
    width: 30px;
    cursor: pointer;
}

.controls:hover {
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

/*grr the dots only appear in mobile view!!*/
#dots-con {
    text-align: center;
    display: none;
}

.dot {
    display: inline-block;
    background: none;
    border: 2px solid #1f1f1f;
    padding: 3px;
    border-radius: 50%;
    margin: 5px 2px;
}

.active {
    background: #1f1f1f;
}

/*Styling of the event description*/

.eventdescription {
    display: block;
    border-radius: 30px;
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    background-color: #f4e7bf;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    
    text-align: left;
    padding: 80px 70px;
}

.eventstitle{
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 200px;
    align-items: center;
    margin-left: 32%;
    margin-top: 150px;
    margin-right: 5%;
}

.price-card {
    font-weight: lighter;
    padding-left: 150px;
    margin-top: -22px;
    font-size: 25px;
}

/*Making the whole page responsive*/
@media only screen and (max-width: 900px) {

    .eventstitle{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
        gap: 20px;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
        margin-top: 100px;
        height: 200px;
        padding-top: 0px;
    }

    /*We still need event backgrounds for mobile view here*/
    body {
        background-image: url("/Pictures/mobile/events_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .facebookmention {
        display: none;
      
    }

    /*Yeah we make the dots appear here*/
    #dots-con {
        text-align: center;
        display: block;
    }

    /*title positioning on mobile is different*/
    .bigtitle {
        margin-top: 20px;
        /*margin-left: 40px;*/
    }

    /*The event card*/
    .eventdescription {
        padding: 80px 50px;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
        width: 60%;
        font-family: 'Space Grotesk', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .eventcontainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    #slider {
        width: 100%;
        padding: 12px;
        border: none;
        background: none;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        z-index: -5;
    }

    .slide {
        width: 100%;
    }

    .controls {
        font-size: 1em;
        display: none;
    }

    .eventpics {
        width: 100%;
    }  
}