/*Code by Md Farzan: https://codepen.io/mdfarzan/pen/yLeEJZV*/

#slider {
   width: 600px;
   padding: 12px;
   border: 5px solid #555;
   border-spacing: 100px;
   border-radius: 20px;
   background-color:rgba(255, 228, 228, 0.5);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: -5;
    ;
}

.slide {
    width: 100px;
  
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.eventcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls {
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;
}

.arrow{
    width: 30px;
    cursor: pointer;
}

.controls:hover {
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#dots-con {

    text-align: center;
}

.dot {
    display: inline-block;
    background: grey;
    padding: 8px;
    border-radius: 50%;
    margin: 10px 5px;
}

.active {
    background: crimson;
}

@media (max-width:576px) {
    #slider {
        width: 90%;

    }

    .controls {
        font-size: 1em;
    }

    #dots-con {
        display: none;
    }
}

/*Styling of the event description*/

.eventdescription{
    min-width: 300px;
    padding-top: 20px;
    padding-left:30%;
    padding-right: 30%;
    padding-bottom: 40px;
}