.moon{
    border: 2px solid black;
    padding-top: 60px;

}

.sunmoon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    gap: 60px;
    
}