/* the h1 "OUR PLAYLISTS" styling */
.heading {
    text-align: center;
    margin-bottom: 80px;
}

/* Containers with the Vinyl and Spotify playlist */
.container {
    width: 90%;
    margin: 150px auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 90%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    align-items: center;
    padding: 20px 0px 20px 0px;
    display: block;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

.vinyl-sun {
    width: 550px;
    float: left;
    margin-top: 20px;
}

.vinyl-moon {
    width: 550px;
    float: right;
    margin-top: 20px;
}

.iframe-vinyl-sun {
    border-radius:12px;
    width: 50%;
    height: 380px;

    margin-top: 15px;
    margin-right: 100px;
    float: right;
}

.iframe-vinyl-moon {
    border-radius:12px;
    width: 50%;
    height: 380px;

    margin-top: 15px;
    margin-left: 100px;
    float: left;
}

@media screen and (max-width: 900px) {
    
}

/* @media screen and (min-width: 1000px) {
.iframe-vinyl-sun .iframe-vinyl-moon {
    width: 40%;
    height: 280px;

    margin-top: 20px;
    margin-right: 100px;
}

.vinyl-sun.vinyl-moon {
    width: 400px;
    margin-top: 20px;
}

.vinyl-moon {
    margin-right: 20px;
}

.iframe-vinyl-moon {
    width: 50%;
    height: 280px;

    margin-top: 20px;
    margin-left: 20px;
}
}

@media screen and (max-width: 620px) {
.vinyl-sun .vinyl-moon {
    width: 330px;
    margin-top: 20px;
    margin-left: -20px;
}

.vinyl-moon {
    margin-left: 0;
    margin-right: 20px;
}

.iframe-vinyl-sun .iframe-vinyl-moon {
    width: 70%;
    height: 300px;

    margin-top: 20px;
    margin-right: 35px;
}
}

@media screen and (min-width: 820px) {
.vinyl-sun .vinyl-moon {
    width: 300px;
    margin-top: 20px;
}
} */